
@{
    ViewBag.Title = "About";
}

<div class="historyHeader">
    <span>Our Interior</span>
</div>

<div class="imgInter col-md-offset-1">
    <div id="carousel-inter" class="carousel slide" data-ride="carousel">
        @*Указатели*@
        <ol class="carousel-indicators">
            <li data-target="#carousel-inter" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-inter" data-slide-to="1"></li>
            <li data-target="#carousel-inter" data-slide-to="2"></li>
            <li data-target="#carousel-inter" data-slide-to="3"></li>
            <li data-target="#carousel-inter" data-slide-to="4"></li>
        </ol>

        @*Контент слайда*@
        <div class="carousel-inner">

            <div class="item active">
                <img src="~/Images/Interior/inter1.jpg" alt="interior" />
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="~/Images/Interior/inter2.jpg" alt="interior" />
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="~/Images/Interior/inter3.jpg" alt="interior" />
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="~/Images/Interior/inter4.jpg" alt="interior" />
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="~/Images/Interior/inter5.jpg" alt="interior" />
                <div class="carousel-caption">
                </div>
            </div>


        </div>

        @*Элементы управления*@
        <a class="left carousel-control" href="#carousel-inter" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-inter" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</div>


<div class="history">
    <p>In the center of Minsk, the Bakery stores terrific cakes, artisan breads, homemade cookies and pies!</p>

    <p>
        Conveniently located near the metro station, our stores offer fine food as well as individual personality,
        exemplifying the many facets of Bakery itself. For over 15 years, we've served Bakeries from every walk of life
        and dazzled travelers passing through, offering sustenance from the simple to the sublime. Most of all, our customers
        find an ongoing welcome with a local touch and a cosmopolitan vision.
    </p>

</div>

