
@{
    ViewBag.Title = "Contact";
}

<div class="contacts">
    <div><strong>Address:</strong> 4, M.Tank str, Minsk</div><br/>
    <div><strong>Hours:</strong> 08:00 - 20:00</div><br />
    <div><strong>Email:</strong> bakery@gmail.com</div><br />
    <div><strong>Phone:</strong> +375 29 111-11-11</div><br />

</div>


<div class="map">   
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15812.574884768155!2d27.529710541072905!3d53.90414282047764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcff267fbf1f9%3A0xe59af5b3d6c390e!2z0YPQuy4g0JzQsNC60YHQuNC80LAg0KLQsNC90LrQsCA0LCDQnNC40L3RgdC6!5e0!3m2!1sru!2sby!4v1475767972890" width="520" height="440" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
