@model IEnumerable<Bakery.ViewModel.ProductViewModel>

@section script{
    <script>
        $(function () {
            $(".thumbnail").hover(Over, Out);

        });

        function Over () {
            var price= $(this).children(".hiddenPrice");
            if (price.is(":hidden")) {
                price.slideDown();
            }
        };

        function Out () {
            var price= $(this).children(".hiddenPrice");
            if (price.not(":hidden")) {
                price.slideUp();
            }
        };



    </script>

}


@foreach (var item in Model)
{  <div class="divList">
        <div class="thumbnail">            
            <img src="~/image?title=@item.Image" class="imageList" />         
            <div class="hiddenPrice">
                <p>@item.Name</p>
                <p>Price = @item.Price</p>
            </div>
        </div>
    </div>
}


